{% extends 'feed/base.html' %} 

{% block content %}

<div class="container">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="text-white border-bottom mb-4"> Confirm Delete</legend>
      <p class="text-white">Confirm delete this comment?</p>
      {{form.as_p}}
    </fieldset>
    <div class="from-group">
      <button class="btn btn-outline-danger" type="submit">Delete</button>
      <a href="{% url 'home' %}" class="btn btn-outline-primary">Cancel</a>
    </div>
  </form>
</div>

{% endblock content %}
